<footer>
  <style>
    footer{ background-color: #21450f; color: #fff; padding: 20px; text-align:
    center; position: fixed; bottom: 0; width: 100%; z-index: 20;}
  </style>
  <div style="max-width: 960px; margin: 0 auto;">
    &copy; 2024 Future-Tech | All rights reserved.
  </div>
</footer>