<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="icon" type="image/png" href="../images/FT.com.png">
    <title>Future-Tech | 404</title>
  </head>
  <body>
    <h1>404</h1>
    <p>Resource does not exists</p>
  </body>
</html>