<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/gallery.css">
     <link rel="icon" type="image/png" href="../images/FT.com.png">
    <title>Future-Tech | Gallery</title>
  </head>
  <body>
    {{>header}}
    <div class="container">
      <h1>Our Gallery</h1>
  <h3>Our Star Employees of The Year</h3>
  <div class="employee">
    <img src="../images/employee1.jpg" alt="Employee 1">
    <div class="employee-details">
      <div class="employee-name">John Doe</div>
      <div class="employee-role">Software Engineer</div>
      <div class="employee-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis vel enim sit amet accumsan. Sed in justo sed ex semper vestibulum. Sed eu dui mauris.</div>
    </div>
  </div>
  <div class="employee">
    <img src="../images/employee2.jpg" alt="Employee 2">
    <div class="employee-details">
      <div class="employee-name">Jane Smith</div>
      <div class="employee-role">UI/UX Designer</div>
      <div class="employee-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis vel enim sit amet accumsan. Sed in justo sed ex semper vestibulum. Sed eu dui mauris.</div>
    </div>
  </div>
  <div class="employee">
    <img src="../images/employee3.jpg" alt="Employee 3">
    <div class="employee-details">
      <div class="employee-name">Manuel Jack</div>
      <div class="employee-role">Software Tester</div>
      <div class="employee-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis vel enim sit amet accumsan. Sed in justo sed ex semper vestibulum. Sed eu dui mauris.</div>
    </div>
  </div>
</div>

<div class="container awards-section">
  <h2>Awards</h2>
  <div class="award">
    <img src="../images/award1.webp" alt="award1">
    <strong>Best Software Innovation Award</strong>
    <p>Celebrating our dedication to groundbreaking technological advancements, the Best Software Innovation Award recognizes our relentless pursuit of excellence in revolutionizing industry standards and redefining possibilities in software solutions.</p>
  </div>
  <div class="award">
      <img src="../images/award2.jpg" alt="award2">
    <strong>Outstanding Design Achievement Award</strong>
    <p>Receiving the Outstanding Design Achievement Award is a testament to our commitment to marrying creativity with functionality. It acknowledges our unwavering focus on crafting user-centric designs that seamlessly integrate aesthetics with usability, setting new benchmarks for innovation in the digital landscape.</p>
  </div>
</div>
      {{>footer}}
  </body>
</html>