<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/service.css">
     <link rel="icon" type="image/png" href="../images/FT.com.png">
    <title>Future-Tech | Service</title>
  </head>
  <body>
    {{>header}}
    <div class="container">
  <h2>Our Services</h2>
  <div class="service">
    <img src="../images/softwaresolution.avif" alt="Software Solution">
    <div class="service-details">
      <div class="service-title">Software Solutions</div>
      <div class="service-description">We provide tailored software solutions to meet the unique needs of your business, from custom applications to enterprise software.</div>
    </div>
  </div>
  <div class="service">
    <img src="../images/softwaretesting.png" alt="Testing">
    <div class="service-details">
      <div class="service-title">Testing</div>
      <div class="service-description">Our comprehensive testing services ensure the quality and reliability of your software products, with a focus on performance, security, and user experience.</div>
    </div>
  </div>
  <div class="service">
    <img src="../images/softwaredesign.jpg" alt="Design">
    <div class="service-details">
      <div class="service-title">Design</div>
      <div class="service-description">Our talented design team creates visually stunning and user-friendly interfaces that enhance the overall user experience of your software applications.</div>
    </div>
  </div>
  <div class="service">
    <img src="../images/innovation.png" alt="Innovation">
    <div class="service-details">
      <div class="service-title">Innovation</div>
      <div class="service-description">We embrace innovation and leverage emerging technologies to drive business growth and stay ahead of the competition.</div>
    </div>
  </div>
</div>
      {{>footer}}
  </body>
</html>